.dbug {
  border: 2px dashed blue;
}
body {
  background-color: rgb(50,20,46);
  /*
  background-image: linear-gradient();
   */
}

#console {
 position: fixed;
 bottom: 0.5em;
 margin: auto;
 z-index: 99;
 border: 1px dashed red;
 color: red;
 display: block;
 width: 80%;
}

img.circle { border-radius: 50%; }
.container {
  /*
 */
  max-width: 80%;
  padding: 1rem;
  margin: auto;
  border: 1px dashed grey

  background-color: darkblue;
  background-image: linear-gradient(to top right, white, lightblue);
  opacity: 96%;
  overflow: hidden;

}
#logo {
  float: left;
  padding-left: 0px;
  padding-right: 10px;
  margin: 0;
  width: 140px;
}
#logo img {
  display: inline;
  top: 0;
  height: 70px;
  margin: 0;
  border: 2px dashed blue;
}

.first {
  filter: grayscale(50%) invert(100%);
  padding-top: 0px;
  position: stickey;
  top: 2px;
  overflow: auto;
}

.footer {
  max-width: 80%;
  margin: auto;
  filter: invert(80%);
}
